html
  head
    include ./includes/librerias.jade
    |     
    script(type='text/javascript', src='js/codigo_usuario_sel.js')
  |   
  body
    // AQUIE SE MOSTRARAN LAS OPCIONES DEL ADMIN
    include ./includes/opciones_admin_menu.jade
    |     
    include ./includes/barra_menu_admin.jade
    |     
    // Contenido de la PAGINA
    #contenedor.container
      #info_usuario.row
        .col.s12.m4.l2
        |         
        .col.s12.m12.l12
          form(action='/modificar_usuario', method='post' enctype='multipart/form-data')
            fieldset
              legend.red-text.text-darken-4(style='text-align: center') Datos del Usuario
              |               
              #usuario_contenido.row
                .row
                  .input-field.col.s5.m5.l5(style='text-align: center; margin-left: 15px;')
                    input#curp.teal-text.text-darken-3(type='text', name='curp', data-length='18', readonly='', value='#{usuarioSelec.curp}')
                    |                     
                    label.active(for='curp') Curp
                  |                   
                  .input-field.col.s6.m6.l6(style='text-align: center; margin-left: 15px;')
                    input#nombre.validate.teal-text.text-darken-3(type='text', name='nombre', value='#{usuarioSelec.nombre}')
                    |                     
                    label.active(for='nombre') Nombre
                |                 
                .row
                  .input-field.col.s5.m5.l5(style='text-align: center; margin-left: 15px;')
                    input#apellido_paterno.validate.teal-text.text-darken-3(type='text', name='apellido_paterno', value='#{usuarioSelec.apellido_paterno}')
                    |                     
                    label.active(for='apellido_paterno') Apellido Paterno
                  |                   
                  .input-field.col.s6.m6.l6(style='text-align: center; margin-left: 15px;')
                    input#apellido_materno.validate.teal-text.text-darken-3(type='text', name='apellido_materno', value='#{usuarioSelec.apellido_materno}')
                    |                     
                    label.active(for='apellido_materno') Apellido Materno
                |                 
                .row
                  .input-field.col.s4.m4.l4
                  |                   
                  .input-field.col.s4.m4.l4(style='text-align: center;')
                    select#tipo_usuario(name='tipo_usuario')
                      option(value='0', disabled='', selected='') Tipo Usuario
                      |                       
                      each item in list.tipo_usuario
                        if usuarioSelec.id_tipo_usuario === item.id
                          option(value='#{item.id}' selected) #{item.nombreTipoUsuario}
                        else
                          option(value='#{item.id}') #{item.nombreTipoUsuario}
                  |                   
                  .input-field.col.s4.m4.l4
                // Searador
                center
                  .divider.red.lighten-1(style='border-style: dotted; border-width: 1px; width: 95%;')
                |                 
                br
                |                 
                .row
                  .input-field.col.s5.m5.l5(style='text-align: center; margin-left: 15px;')
                    input#email.validate.teal-text.text-darken-3(type='text', name='email', value='#{usuarioSelec.email}')
                    |                     
                    label.active(for='email') Email
                  |                   
                  .input-field.col.s6.m6.l6(style='text-align: center; margin-left: 15px;')
                    input#cct.validate.teal-text.text-darken-3(type='text', name='cct', value='#{usuarioSelec.cct}')
                    |                     
                    label.active(for='cct') CCT
                |                 
                .row
                  .col.s5.m5.l5(style='text-align: center; margin-left: 15px;')
                    .file-field.input-field
                      .btn
                        span FOTO
                        |                         
                        input#foto(type='file', name='foto', onchange='showimagepreview(this)')
                      |                       
                      .file-path-wrapper
                        input.file-path.validate(type='text')
                  |                   
                  .col.s3.m3.l3(style='text-align: center; margin-top: 15px;')
                    select#entidad(name='entidad')
                      option(value='0', disabled='', selected='') Entidad
                      |                       
                      each item in list.entidades
                        if usuarioSelec.id_entidad === item.id
                          option(value='#{item.id}' selected) #{item.nombreEntidad}
                        else
                          option(value='#{item.id}') #{item.nombreEntidad}
                  |                   
                  .col.s3.m3.l3(style='text-align: center; margin-top: 15px;')
                    select#categoria(name='categoria')
                      option(value='0', disabled='', selected='') Categor&iacute;a
                      |                       
                      each item in list.categorias
                        if usuarioSelec.id_categoria === item.id
                          option(value='#{item.id}' selected) #{item.nombreCategoria}
                        else
                          option(value='#{item.id}') #{item.nombreCategoria}
                |                 
                .row
                  .col.s5.m5.l5(style='text-align: center; margin-left: 15px;')
                    | Foto de Perfil:
                    img#foto_cargada(alt='', src='asset/asset_fotoPerfilUsers/#{usuarioSelec.curp}.jpg', onerror="src='asset/asset_fotoPerfilUsers/user.svg'", width='200', height='200', style='margin-left: 5px;')
                  |                   
                  .col.s3.m3.l3(style='text-align: center; margin-top: 15px;')
                    select#funcion(name='funcion')
                      option(value='0', disabled='', selected='') Funci&oacute;n
                      |                       
                      each item in list.funciones
                        if usuarioSelec.id_funcion === item.id
                          option(value='#{item.id}' selected) #{item.nombreFuncion}
                        else
                          option(value='#{item.id}') #{item.nombreFuncion}
                  |                   
                  .col.s3.m3.l3(style='text-align: center; margin-top: 15px;')
                    select#nivel_educativo(name='nivel_educativo')
                      option(value='0', disabled='', selected='') Nivel Educativo
                      |                       
                      each item in list.nivel_edu
                        if usuarioSelec.id_nivel_educativo === item.id
                          option(value='#{item.id}' selected) #{item.nombreNivel}
                        else
                          option(value='#{item.id}') #{item.nombreNivel}
                  |                   
                  .col.s3.m3.l3(style='text-align: center; margin-top: 15px;')
                    select#bloque(name='bloque')
                      option(value='0', disabled='', selected='') Bloque
                      |                       
                      each item in list.bloques
                        if usuarioSelec.id_bloque === item.id
                          option(value='#{item.id}' selected) #{item.nombreBloque}
                        else
                          option(value='#{item.id}') #{item.nombreBloque}
                  |                   
                  .col.s3.m3.l3(style='text-align: center; margin-top: 15px;')
                    select#tipo_sostenimiento(name='tipo_sostenimiento')
                      option(value='0', disabled='', selected='') Tipo Sostenimiento
                      |                       
                      each item in list.tipo_sostenimiento
                        if usuarioSelec.id_tipo_sostenimiento === item.id
                          option(value='#{item.id}' selected) #{item.nombreTipoSostenimiento}
                        else
                          option(value='#{item.id}') #{item.nombreTipoSostenimiento}
                  |                   
                  .col.s3.m3.l3(style='text-align: center; margin-top: 15px;')
                    select#tipo_examen(name='tipo_examen')
                      option(value='0', disabled='', selected='') Tipo Examen
                      |                       
                      each item in list.tipo_examen
                        if usuarioSelec.id_tipo_examen === item.id
                          option(value='#{item.id}' selected) #{item.nombreTipoExamen}
                        else
                          option(value='#{item.id}') #{item.nombreTipoExamen}
                  |                   
                  .input-field.col.s3.m3.l3(style='text-align: center; margin-top: 15px;')
                    input#convocatoria_seleccionada.validate.teal-text.text-darken-3(type='number', min='2000', name='convocatoria_seleccionada', style='text-align: right;', value='#{usuarioSelec.convocatoria_seleccionada}')
                    |                     
                    label.active(for='convocatoria_seleccionada') Convocatoria Seleccionada
                |                 
                .row
                  .col.s3.m3.l3
                  |                   
                  .col.s3.m3.l3(style='text-align: center; margin-left: 15px; margin-top: 15px;')
                    select#status_asignacion(name='status_asignacion' onchange='cambiar_fecha();')
                      option(value='-1', disabled='', selected='') Status Asignaci&oacute;n
                      |                       
                      option(value='0') Sin Asignar
                      |                       
                      option(value='1') Asignado
                  |                   
                  script(type='text/javascript') document.getElementById('status_asignacion').value = '#{usuarioSelec.status_asignacion}';
                  .input-field.col.s3.m3.l3
                    label.active(for='fecha_asignacion') Fecha Asignaci&oacute;n
                    |                     
                    input#fecha_asignacion.datepicker.teal-text.text-darken-3(name='fecha_asignacion', type='text', value='#{usuarioSelec.fecha_asignacion}')
              // Searador
              center
                .divider.red.lighten-1(style='border-style: dotted; border-width: 1px; width: 95%;')
              |               
              br
              |               
              .row
                .input-field.col.s6.m6.l6(style='text-align: center; margin-left: 15px;')
                  input#nombre_usuario.validate.teal-text.text-darken-3(type='text', name='nombre_usuario', value='#{usuarioSelec.usuario}')
                  |                   
                  label.active(for='nombre_usuario') Usuario
                |                 
                .input-field.col.s5.m5.l5(style='text-align: center; margin-left: 15px;')
                  input#contrasena.validate.teal-text.text-darken-3(type='text', name='contrasena', value='#{usuarioSelec.contrasenia}')
                  |                   
                  label.active(for='contrasena') Contrase&ntilde;a
              |               
              .row
                .input-field.col.s4.m4.l4
                |                 
                .input-field.col.s4.m4.l4(style='text-align: center; margin-left: 15px;')
                  select#status_cuenta(name='status_cuenta')
                    option(value='-1', disabled='', selected='') Status Cuenta
                    |                     
                    option(value='0') Desactivada
                    |                     
                    option(value='1') Activa
                |                 
                script(type='text/javascript') document.getElementById('status_cuenta').value = '#{usuarioSelec.status_cuenta}';
                .input-field.col.s4.m4.l4
              // Searador
              br
              |               
              center
                .divider.red.lighten-1(style='border-style: dotted; border-width: 1px; width: 95%;')
              |               
              br
              |               
              .row
                .input-field.col.s3.m3.l3
                |                 
                .input-field.col.s3.m3.l3
                |                 
                .input-field.col.s3.m3.l3(style='text-align: center;')
                  button.waves-effect.waves-light.btn.grey.lighten-2.black-text(type='button', onclick='cancelar_registro();') Cancelar
                |                 
                .input-field.col.s3.m3.l3(style='text-align: center;')
                  button.btn.waves-effect.waves-green.lighten-2.black-text(type='submit', onclick="this.enabled=false; this.value='Validando...'; return validar_usuario();" id='btModificarUsuario') Modificar Usuario
        |         
        .col.s12.m4.l2
        if(modif)
          script(type='text/javascript') swal('Modificado', 'Usuario Modificado Correctamente','success');
    br   
    include ./includes/footer.jade
    |     
    // Import jQuery before materialize.js
    script(type='text/javascript', src='materialize/js/materialize.min.js')
    |     
    script(type='text/javascript', src='js/script.js')